<ul class="game-states">
  <li><a href="#" ng-class="{'active': state == null}" ng-click="setState(-1)">Alles</a></li>
  <li ng-repeat="state in states">
    <a href="#" ng-class="{'active': $parent.state.id == state.id}" ng-click="setState($index)">{{state.text}}</a>
  </li>
</ul>

<div class="game-list-wrapper">
  <ul class="game-list">
    <li class="game game-{{game.state}}" ng-repeat="game in games" ui-sref-active="active">    
      <a ui-sref="gameList.gameDetails({gameId: game._id})">
        <span class="game-name">
          {{game.gameTemplate._id}} <sup class="count">({{game.players.length}}/{{game.maxPlayers}})</sup>
        </span>
        <span class="game-creator">{{game.createdBy.name}}</span>
      </a>
    </li>

    <li class="placeholder placeholder-spinner" ng-if="!loaded">
      <i class="fa fa-spin fa-refresh"></i>
    </li>

    <li class="placeholder placeholder-more" ng-if="loaded && hasMore" ng-click="loadMoreGames()">
      Meer spellen&hellip;
    </li>

    <li class="placeholder placeholder-empty" ng-if="loaded && !games.length">
      <i class="fa fa-fw fa-frown-o"></i> Geen spellen gevonden
    </li>
  </ul>
</div>

<div class="game-list-filter">
  <input type="checkbox" id="user-filter" ng-model="userOnly"/>
  <label for="user-filter">Alleen spellen waar ik in zit weergeven</label>
</div> 
