@mixin box-sizing($arg) {
  -webkit-box-sizing: $arg;
     -moz-box-sizing: $arg;
          box-sizing: $arg;
}

@mixin border-radius($arg) {
  -webkit-border-radius: $arg;
     -moz-border-radius: $arg;
          border-radius: $arg;
}

@mixin box-shadow($arg) {
  -webkit-box-shadow: $arg;
     -moz-box-shadow: $arg;
          box-shadow: $arg;
}

@mixin transition($arg) {
  -webkit-transition: $arg;
     -moz-transition: $arg;
          transition: $arg;
}

@mixin placeholder($arg){
        &::-webkit-input-placeholder {
         color: $arg;
      }
        &:-ms-input-placeholder {
         color: $arg;
      }
        &:-moz-placeholder {
         color: $arg;
      }
        &::-moz-placeholder  {
         color: $arg;
      }
}
