$bg-color: #ecf0f1;

$tint-color-red: #e74c3c;
$tint-color-yellow: #ffe11a;
$tint-color-orange: #fd7400;
$tint-color-green: #bedb39;

$panel-left-bg: #fff;
$panel-right-bg: #f7f9fa;

$text-color: #222;
$link-color: #3498DB;
$link-color-hover: darken($link-color, 15%);

$header-height: 60px;
$header-bg-color: #5C4B51;

$game-states-height: 40px;
$game-states-bg-color: #fbfbfb;
$game-filters-height: 40px;

$add-game-height: 132px;