$bg-color: #ecf0f1;

$panel-left-bg: #fff;
$panel-right-bg: #f7f9fa;

$text-color: #222;
$link-color: #3498DB;
$link-color-hover: darken($link-color, 15%);

$header-top-height: 60px;
$header-top-bg-color: #eee;

$header-bottom-height: 60px;
$header-bottom-bg-color: #fbfbfb;
