#sidebar {
  header {
    height: $header-height;

    .user {

      .login{
        float: left;
        line-height: $header-height;
        padding-left: 20px;
        
        a {
          color: #fff;
          text-decoration: none;
        }
      }

      .username {
        @extend %truncate;

        span {
          display: inline-block;

          &.status {
            &:before {
              content: '\002B22';
              margin-right: 10px;
              color: grey;
            }

            &.online:before { color: $tint-color-green; }
            &.offline:before { color: $tint-color-red; }
          }
        }
      }
    }
  }

  .games {
    overflow: hidden;
    height: calc(100% - #{$header-height});
  }

  .game-states,
  .game-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .game-states {
    height: $game-states-height;
    width: 100%;
    background-color: $game-states-bg-color;
    border-bottom: 1px solid #ededed;

    @extend %flex-inline;

    > li {
      @extend %flex-columns;

      > a {
        display: block;
        line-height: $game-states-height;
        text-align: center;
        text-decoration: none;
        color: #ccc;

        @include transition(all .5s ease);
 
        &.active,
        &:hover {
          color: #666;
          background-color: darken($game-states-bg-color, 2%); 
        }
      }
    }
  }

  .game-list-wrapper {
    overflow-y: auto;
    height: calc(100% - #{$game-states-height} - #{$game-filters-height});
    width: 100%;
    background-color: #fbfbfb;

    .game-list {
      > li {
        border-bottom: 1px #eee solid;

        &:last-of-type {
          border-bottom: none; }        
        
        &.game,
        &.placeholder-more {
          cursor: pointer;
          
          @include transition(all .2s ease);

          &:hover {
            background-color: darken(#fbfbfb, 1%); }
          &.active {
            background-color: darken(#fbfbfb, 3%); }
        }

        a,
        &.placeholder {
          text-decoration: none;
          color: #666;
          padding: 15px 20px; 
        }

        &.game {
          > a {
            display: flex;

            flex-flow: row nowrap;
            justify-content: space-between;

            span {
              &.game-name,
              &.game-creator {
                @extend %truncate; }
              &.game-name {
                flex-shrink: 1;}
              &.game-creator {
                flex-shrink: 2;
                font-size: 85%;
                color: lighten(#666, 20%);
              }
            }
          }

          $states: (
            open: $tint-color-green, 
            playing: $tint-color-orange, 
            finished: $tint-color-red);

          @each $state, $color in $states {
            &-#{$state} { 
              border-left: 3px solid $color; }
          }
        }
      }
    }
  }

  .game-list-filter {
    height: $game-filters-height;
    border-top: 1px #eee solid;
    line-height: $game-filters-height;
    padding: 0px 20px;
    color: #666;

      label {
        margin-left: 10px;
      }
  }
}
